USE [master]
GO
/****** Object:  Database [QuanLyCafe]    Script Date: 10/19/2023 8:41:38 PM ******/
CREATE DATABASE [QuanLyCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCafe', FILENAME = N'D:\data\QuanLyCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCafe_log', FILENAME = N'D:\data\QuanLyCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCafe]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCLV] [nvarchar](10) NOT NULL,
	[CaLamViec] [nvarchar](50) NULL,
	[GioBD] [time](7) NULL,
	[GioKT] [time](7) NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTiet] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[MaDD] [nvarchar](10) NULL,
	[MaHD] [nvarchar](10) NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DD_HH]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DD_HH](
	[MaHH] [nvarchar](10) NOT NULL,
	[MaDD] [nvarchar](10) NOT NULL,
	[MaHH_DD] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DD_HH] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC,
	[MaDD] ASC,
	[MaHH_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoDung]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoDung](
	[MaDD] [nvarchar](10) NOT NULL,
	[TenDD] [nvarchar](50) NULL,
	[Gia] [decimal](18, 0) NULL,
	[MaLDD] [nvarchar](10) NULL,
	[HinhDD] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_DoDung] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [nvarchar](10) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[Gia] [money] NULL,
	[DonViTinh] [nvarchar](20) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HH_NCC]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HH_NCC](
	[MaHH] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[MaHH_NCC] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_HH_NCC] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC,
	[MaNCC] ASC,
	[MaHH_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[NgayTaoHD] [datetime] NOT NULL,
	[TongTien] [money] NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaUser] [nvarchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
	[MaLoaiKH] [nvarchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDoDung]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDoDung](
	[MaLoaiDD] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiHangHoa] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[MaLoaiKH] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[GiamGia] [float] NULL,
 CONSTRAINT [PK_LoaiKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgayLam]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgayLam](
	[MaCLV] [nvarchar](10) NOT NULL,
	[MaUser] [nvarchar](10) NOT NULL,
	[NgayLamViec] [nvarchar](50) NULL,
 CONSTRAINT [PK_NgayLam] PRIMARY KEY CLUSTERED 
(
	[MaCLV] ASC,
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiSuCo]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiSuCo](
	[MaPH] [nvarchar](10) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[MaUser] [nvarchar](10) NULL,
 CONSTRAINT [PK_PhanHoiSuCo] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/19/2023 8:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[MaUser] [nvarchar](10) NOT NULL,
	[TenUser] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
	[PhanQuyen] [int] NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DoDung] ([MaDD], [TenDD], [Gia], [MaLDD], [HinhDD], [SoLuong]) VALUES (N'DD01', N'Lon CocaCola', CAST(20000 AS Decimal(18, 0)), N'L1', N'image/CocaCola.jpg', 20)
INSERT [dbo].[DoDung] ([MaDD], [TenDD], [Gia], [MaLDD], [HinhDD], [SoLuong]) VALUES (N'DD02', N'Lon 7up', CAST(20000 AS Decimal(18, 0)), N'L1', N'image/7up.jpg', 30)
INSERT [dbo].[DoDung] ([MaDD], [TenDD], [Gia], [MaLDD], [HinhDD], [SoLuong]) VALUES (N'DD03', N'Nước dừa', CAST(22000 AS Decimal(18, 0)), N'L2', N'image/NuocDua.png', 10)
GO
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [Gia], [DonViTinh]) VALUES (N'HH01', N'Đường', 12000.0000, N'kg')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [Gia], [DonViTinh]) VALUES (N'HH02', N'Cafe', 130000.0000, N'kg')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [Gia], [DonViTinh]) VALUES (N'HH03', N'Xoài', 30000.0000, N'kg')
GO
INSERT [dbo].[HH_NCC] ([MaHH], [MaNCC], [MaHH_NCC], [SoLuong]) VALUES (N'HH01', N'NCC3', N'M1', 50)
INSERT [dbo].[HH_NCC] ([MaHH], [MaNCC], [MaHH_NCC], [SoLuong]) VALUES (N'HH02', N'NCC1', N'M2', 60)
INSERT [dbo].[HH_NCC] ([MaHH], [MaNCC], [MaHH_NCC], [SoLuong]) VALUES (N'HH02', N'NCC2', N'M3', 55)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayTaoHD], [TongTien], [MaKH], [MaUser]) VALUES (N'HD01', CAST(N'2023-10-06T00:00:00.000' AS DateTime), 200000.0000, N'KH01', N'NV03')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTaoHD], [TongTien], [MaKH], [MaUser]) VALUES (N'HD02', CAST(N'2023-10-09T00:00:00.000' AS DateTime), 250000.0000, N'KH01', N'NV03')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTaoHD], [TongTien], [MaKH], [MaUser]) VALUES (N'hd03', CAST(N'2023-10-11T00:00:00.000' AS DateTime), 2200000.0000, N'KH01', N'NV03')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [MaLoaiKH]) VALUES (N'KH01', N'Vũ Hoàng Phan', NULL, N'L2')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [MaLoaiKH]) VALUES (N'KH02', N'Đặng Phạm Đình Chương', NULL, N'L3')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [MaLoaiKH]) VALUES (N'KH03', N'Gia Phú', NULL, N'L1')
GO
INSERT [dbo].[LoaiDoDung] ([MaLoaiDD], [TenLoai], [MoTa]) VALUES (N'L1', N'Nước có ga', N'Những thức uống có ga trong thành phần')
INSERT [dbo].[LoaiDoDung] ([MaLoaiDD], [TenLoai], [MoTa]) VALUES (N'L2', N'Nước trái cây', N'Những thức uống được pha chế bằng trái cây')
INSERT [dbo].[LoaiDoDung] ([MaLoaiDD], [TenLoai], [MoTa]) VALUES (N'L3', N'Bánh ngọt', N'Những món ăn được làm từ bột mì và trứng')
GO
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [GiamGia]) VALUES (N'L1', N'Khách quen', 0.1)
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [GiamGia]) VALUES (N'L2', N'Khách thân thiết', 0.15)
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKH], [TenLoai], [GiamGia]) VALUES (N'L3', N'Khách VIP', 0.2)
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC1', N'Buôn Mê Coffee', N'35/4A Ao Đôi, Bình Trị Đông, Quận Bình Tân, Tp Hồ Chí Minh ', N'0918555302     ')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC2', N'Drai Farm', N'xã Quảng Hiệp, huyện Cư M’gar, tỉnh DakLak', N'0956803447     ')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC3', N'Công Ty TNHH MTV Huỳnh Gia Khiêm', N'113 Lê Đại Hành, P. 6, Q. 11, Tp. Hồ Chí Minh', N'0985250038     ')
GO
INSERT [dbo].[User] ([MaUser], [TenUser], [DiaChi], [SDT], [PhanQuyen], [MatKhau]) VALUES (N'NV00', N'Hòa', N'DN', N'0123129310     ', 1, N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[User] ([MaUser], [TenUser], [DiaChi], [SDT], [PhanQuyen], [MatKhau]) VALUES (N'NV01', N'Nguyễn Tấn Hợp', N'Gò Vấp', N'0975757994     ', 1, N'Admin123')
INSERT [dbo].[User] ([MaUser], [TenUser], [DiaChi], [SDT], [PhanQuyen], [MatKhau]) VALUES (N'NV02', N'Lê Tâm Hoà', N'Gò Vấp', NULL, 1, N'Admin123')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DoDung] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DoDung] ([MaDD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_DoDung]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[DD_HH]  WITH CHECK ADD  CONSTRAINT [FK_DD_HH_DoDung] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DoDung] ([MaDD])
GO
ALTER TABLE [dbo].[DD_HH] CHECK CONSTRAINT [FK_DD_HH_DoDung]
GO
ALTER TABLE [dbo].[DD_HH]  WITH CHECK ADD  CONSTRAINT [FK_DD_HH_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[DD_HH] CHECK CONSTRAINT [FK_DD_HH_HangHoa]
GO
ALTER TABLE [dbo].[DoDung]  WITH CHECK ADD  CONSTRAINT [FK_DoDung_LoaiDoDung] FOREIGN KEY([MaLDD])
REFERENCES [dbo].[LoaiDoDung] ([MaLoaiDD])
GO
ALTER TABLE [dbo].[DoDung] CHECK CONSTRAINT [FK_DoDung_LoaiDoDung]
GO
ALTER TABLE [dbo].[HH_NCC]  WITH CHECK ADD  CONSTRAINT [FK_HH_NCC_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[HH_NCC] CHECK CONSTRAINT [FK_HH_NCC_HangHoa]
GO
ALTER TABLE [dbo].[HH_NCC]  WITH CHECK ADD  CONSTRAINT [FK_HH_NCC_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HH_NCC] CHECK CONSTRAINT [FK_HH_NCC_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[User] ([MaUser])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_User]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhachHang] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LoaiKhachHang] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKhachHang]
GO
ALTER TABLE [dbo].[NgayLam]  WITH CHECK ADD  CONSTRAINT [FK_NgayLam_CaLamViec] FOREIGN KEY([MaCLV])
REFERENCES [dbo].[CaLamViec] ([MaCLV])
GO
ALTER TABLE [dbo].[NgayLam] CHECK CONSTRAINT [FK_NgayLam_CaLamViec]
GO
ALTER TABLE [dbo].[NgayLam]  WITH CHECK ADD  CONSTRAINT [FK_NgayLam_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[User] ([MaUser])
GO
ALTER TABLE [dbo].[NgayLam] CHECK CONSTRAINT [FK_NgayLam_User]
GO
ALTER TABLE [dbo].[PhanHoiSuCo]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiSuCo_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[User] ([MaUser])
GO
ALTER TABLE [dbo].[PhanHoiSuCo] CHECK CONSTRAINT [FK_PhanHoiSuCo_User]
GO
/****** Object:  StoredProcedure [dbo].[ThongKe]    Script Date: 10/19/2023 8:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ThongKe]
	@year int
as
begin
	select YEAR(NgayTaoHD) AS Years, SUM(TongTien) as Total
	FROM HoaDon
	where YEAR(NgayTaoHD) = @year
	group by YEAR(NgayTaoHD)
	order by YEAR(NgayTaoHD)
end
GO
USE [master]
GO
