@model IEnumerable<Doan.Models.DoDung>
@using Doan.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Coffee.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="background-color:lavender; margin-top:5px; text-align:center;">
            <h3>@Html.DisplayFor(modelItem => item.TenDD)</h3>
            @Html.Image("../" + item.HinhDD, "alt", "200")<br />
            @Html.DisplayFor(modeItem => item.Gia) <br />
            <a href="@Url.Action("Details_KhachHang", "DoDungs", new {id = item.MaDD})" , class="btn btn-info btn-sm">Xem chi tiết</a>
        </div>
    }
</div>}